#jinja2: lstrip_blocks: True
# Config file for collectd(1).
#
# Some plugins need additional configuration and are disabled by default.
# Please read collectd.conf(5) for details.
#
# {{ ansible_managed }}
#

{%- macro print_opts(options, indent='	', count=0) %}
{% for key in options.keys() | sort %}
  {% set value = options[key] %}
  {% if value is string %}
    {{- indent*count }}{{ key }} {{ '"' + value.split('\t') | join('" "') + '"' }}
  {% elif value in [true, false] %}
    {{- indent*count }}{{ key }} {{ value | lower }}
  {% elif value is number %}
    {{- indent*count }}{{ key }} {{ value }}
  {% elif value is mapping %}
    {{- indent*count }}<{{ key }}>
    {# Render options -#}
    {{ print_opts(value, indent, count+1) -}}
    {{- indent*count }}</{{ key.split()[0] }}>
  {% elif value is sequence %}
    {% for i in value | sort -%}
      {{ print_opts({key: i}, indent, count) -}}
    {%- endfor %}
  {% else %}
    {{- indent*count }}{{ key }} "{{ value }}"
  {% endif %}
{% endfor %}
{% endmacro %}


#################################################################################
# Global                                                                        #
#-------------------------------------------------------------------------------#
# Global settings for the daemon.                                               #
#################################################################################
{% set service = collectd.service %}
{% if service.options is defined %}
  {{- print_opts(service.options, indent='  ', count=0) }}
{% endif %}


#################################################################################
# LoadPlugin section                                                            #
#-------------------------------------------------------------------------------#
# Specify what features to activate.                                            #
#################################################################################
{% set plugins = collectd.plugins %}
{% for name in plugins.keys() | sort %}
  {% set opts = plugins[name] %}
  {% if opts.file is undefined -%}
    {# Load a plugin if it's enabled #}
    {% if opts == True or opts.enabled is defined and opts.enabled == True -%}
      LoadPlugin "{{ name }}"
    {% endif %}
  {% endif %}
{% endfor %}


#################################################################################
# Plugin configuration                                                          #
#-------------------------------------------------------------------------------#
# In this section configuration stubs for each plugin are provided. A desc-     #
# ription of those options is available in the collectd.conf(5) manual page.    #
#################################################################################
{% for name in plugins.keys() %}
  {% set opts = plugins[name] %}
  {%- if opts.file is undefined -%}
    {% if opts.options is defined and opts.enabled is defined and opts.enabled == True -%}
      <Plugin "{{ name }}">
      {# Render plugin options -#}
      {{ print_opts(opts.options, indent='  ', count=1) -}}
      </Plugin>

    {% endif -%}
  {% endif %}
{% endfor %}
